.login_div{
	background: white;
	padding: 10px;
	float: none;
	border-radius: 15px;
}

body{
	background-color: darkturquoise;
}
#output {
	background: white;
	border-radius: 10px;
	border-top: 10px solid turquoise;
	padding: 10px;
	float: none;
	text-align: left;
}